body {
    background: rgb(13, 5, 30);
    text-align: center;
    color: white;
    font-family: 'Anek Latin', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(149, 0, 255, 1);
}

.cart_icon {
    height: 1.5rem;
}

.countdown {
    color: aliceblue;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-family: "Oswald", sans-serif;

}

.main_text {
    font-family: "Oswald", sans-serif;
    margin-left: 17%;
    margin-bottom: 2%;
}

.cta {
    border: none;
    border-radius: 0.5rem;
    background: rgb(0, 255, 132);
    background: linear-gradient(74deg, rgba(0, 255, 132, 1) 0%, rgba(149, 0, 255, 1) 100%);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.49);
    -moz-box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.49);
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

.cta:hover {
    color: black;
}

.second {
    margin-top: 10rem;
}

.second h2 {
    margin-bottom: 3rem;
}

.second img {
    height: 40rem;
}

.tickets {
    margin-top: 8rem;
}

.tickets h2,
.pop {
    font-weight: 600;
}

.glitch {
    color: rgb(255, 232, 255);
    position: relative;
    font-size: 9vw;
    margin-top: 10rem;
    animation: glitch 5s 5s infinite;
}

.glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 magenta;
    background: black;
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 rgb(125, 238, 200);
    background: rgb(13, 5, 30);
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
    1% {
        transform: rotateX(10deg) skewX(90deg);
    }

    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes noise-1 {
    $steps: 30;

    @for $i from 1 through $steps {
        #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0);
        }
    }
}

@keyframes noise-2 {
    $steps: 30;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0);
        }
    }
}

.scanlines {
    overflow: hidden;
    mix-blend-mode: difference;
}

.scanlines::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background: repeating-linear-gradient(to bottom,
            transparent 0%,
            rgba(255, 255, 255, 0.05) .5%,
            transparent 1%);

    animation: fudge 7s ease-in-out alternate infinite;
}


@keyframes fudge {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(0px, 2%);
    }
}

.glow {
    @extend .glitch;
    text-shadow: 0 0 1000px rgb(255, 255, 255);
    color: transparent;
    position: absolute;
    top: 0;
}

@keyframes glitch-2 {
    1% {
        transform: rotateX(10deg) skewX(70deg);
    }

    2% {
        transform: rotateX(0deg) skewX(0deg);
    }
}

.overlay_design {
    position: absolute;
    margin-left: 14.5rem;
    margin-top: 5rem;
}

#designs_cont {
    background-color: white;
    padding: 2rem 0;
    color: black;
}

.social a img {
    width: 4rem;
    margin-top: 1rem;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    margin-top: 5rem;
    border-top: 1px solid white;
}

.sources {
    text-align: left;
}

.sources p {
    font-weight: 600;
    margin-left: 2rem;
}

.sources nav ul li {
    list-style-type: none;
}

.copyright {
    margin-top: 2.5rem;
}

.show {
    border: none;
    border-radius: 0.5rem;
    background: rgb(149, 0, 255);
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
}

.add {
    border: none;
    border-radius: 0.5rem;
    background: rgb(0, 255, 132);
    color: black;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
}